/* generell styling (for mobile < 667px). Resten är mediaqueries */ 

body {
  background-color: #fff;margin: 20px;
  padding: 20px;background-color: blue;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  margin: 10px;
  padding: 10px;
  font-family:fantasy;
  font-size: 30px;
}

.logo {
max-width: 50px;


}

/* figure out how to get the hamburger to be to the right! */

.hamburger {
  height: 3px;
  width: 30px;
  background: black;
  display: block;
  margin-bottom: 5px;


}


.navbar {
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center; 
  display: none; /* only for mobile section! */
}


li {
  font-size: 30px;
  border: solid black;
 
}

.big-news {
  border: 2px solid black;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.big-news-item {
  margin: 5px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  width: 200px;

}

img {
  width: 200px;
  margin: 10px;
  flex-wrap: wrap;
}


/* styling for desktop (1024px eller större) */

@media (min-width: 1025px) {

  .hero-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: red;
    /*only for desktop */
  }
  .navbar-links {
    display: flex;
   justify-content: space-between;
  
    
  }
  .navbar {
    border: 2px solid green;
    margin: 10px;
    padding: 10px;
    height: 200px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center; 
  }
  .

  .hamburger {
    display: none;
  }


  a {
    text-decoration: none;
    color: #fff;
  }

  li {
    list-style: none;
  }

  .big-news {
    border: 2px solid black;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }

.big-news-item {
  margin: 5px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  align-items: center;

}

  img {
    width: 200px;
    margin: 10px;
    flex-wrap: wrap;
  }

}