/* generell styling (for mobile < 667px). Resten är mediaqueries */ 

html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: blue;
  margin: 20px;
  padding: 20px;
}

h1 {
  color: white;
  margin: 10px;
  padding: 10px;
  font-family:fantasy;
  font-size: 3vw;
}

.logo {
  width: 100px;

}

.hamburger {
  height: 3px;
  width: 30px;
  background: black;
  display: block;
  margin-bottom: 5px;
}

.menu {
  margin-right: 10px;
  float: left;
  padding-top: 10px;
}
.navbar {
  border: 2px solid green;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; /* only for mobile breakpoint. Copy block and change propertie to "display: inline/block" for tablet and desktop! */
}

li {
  font-size: 20px;
  margin: 20px;
  border: solid black;
  padding: 20px;
}

.big-news {
  border: 2px solid black;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.big-news-item {
  margin: 5px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  align-items: center;

}

img {
  width: 200px;
  margin: 10px;
  flex-wrap: wrap;
}



/* styling for desktop (1024px eller större) */

@media (min-width: 1025px) {


  .navbar {
    border: 2px solid green;
    background-color: red; /*only for desktop */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: none;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  li {
    list-style: none;
  }

  .big-news {
    border: 2px solid black;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }

.big-news-item {
  margin: 5px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  align-items: center;

}

  img {
    width: 200px;
    margin: 10px;
    flex-wrap: wrap;
  }

  