/* generell styling (for mobile < 667px). Resten är mediaqueries */ 

body {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  background-color: #ffb86fff;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  display: none;
}

h1 {
  color: white;
  margin: 10px;
  padding: 10px;
  font-family:fantasy;
  font-size: 30px;
}

.logo {
  max-width: 60px;
  display: flex;
  
}

/* figure out how to get the hamburger to be to the right, and even be visable?! */

.hamburger {
  height: 3px;
  width: 30px;
  background: black;
  display: block;
  margin-bottom: 5px;
  
}

/*
.navbar {
  background-color: #e0ca3cff;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center; 
  display: none;  only for mobile section! 
} */

.big-news {
  border: 2px solid black;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.big-news-item {
  margin: 5px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  align-items: center;
  width: 200px;

}

.logo {
  width: 100px;
  
}


/* styling for desktop (1024px eller större) */

@media (min-width: 1025px) {

  .hero-container{
    display: flex;
    flex-direction: row;
    background-color: #3e2f5bff;
    
  }

  .navbar-links {
    display: flex;
   justify-content: center;
   
  }

  ul {
    display: flex;
    align-items: center;
    border: 2px solid black;

  }
  /*
  .navbar {
    border: 2px solid green;
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-evenly
    flex-direction: row; */

    
  }

  .hamburger {
    display: none; /*help with - why is the hamburger still showing? */
  }


  a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin: 10px;
    display: flex;
  }
  a:link {
    background-color: #3e2f5bff;
  }

  li {
    list-style: none;
    margin: 5px;
    border: 5px solid pink;
    font-size: 20px;
  
    
  }

  .big-news {
    border: 2px solid black;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }

.big-news-item {
  margin: 5px;
  width: 300px;
  padding: 10px;
  margin: 10px;
  align-items: center;

}

  img {
    width: 200px;
    margin: 10px;
  }

}